.home{
    margin-right: 60px;
}

.home__heading{
    border-bottom: 1px solid  rgba(158, 158, 158, 0.274);
    padding-bottom: 10px;    
    font-weight: 500;
}


.home__videoContainer {
    margin-top: 30px;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(248px, 1fr));
    justify-items: center;
    align-items: center;
    align-self: center;  
}