.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-top: 20px;
  min-width: 600px;
}

.header__searchBar {
  width: 80%;

  background-color: var(--overlay-color);
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 5px 20px;
}

.focused {
  transition: all 0.2s ease;
  /* background-color:rgb(194, 194, 194); */
  background-image: linear-gradient(
    to right,
    rgba(53, 40, 168, 0.651),
    rgba(82, 40, 40, 0.746)
  );
}

.header__searchBar > input {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--font-light);
}
.header__themeSwitch {
  padding: 0 8px;
  margin-top: 5px;
}
.header__avatar {
  height: 50px;
  width: 50px;
  margin-right: 60px;
  cursor: pointer;
  transition: all 0.4s;
}
.header__avatar>img:hover{
  /* transform: scale(1.08); */
}
.header__avatar > img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  margin-top: 5px;
}


.dropdownProfile{
  position: absolute;
  top:80px;
  right:60px;
  background-color: var(--overlay-color);
  height: fit-content;
  width: 150px;
  color:var(--font-normal);
  z-index: 9999;

}

@media (max-width:780px){
  .dropdownProfile{
    top:65px;
    right: 25px;
    background-color: rgba(104, 104, 104, 0.904);
  }
}

.dropdownProfile__item{
  border-bottom: 1px solid rgb(105, 100, 100);
  padding:10px;
}

.dropdownProfile__item:hover{
  background-color: var(--main-hover-color);
  cursor: pointer;
}

.hide{
  display: none;
}