@import url("https://fonts.googleapis.com/css2?family=Sansita&display=swap");

.sidebar {
  color: var(--font-normal);
  background-color: var(--overlay-color);
  border-radius: 10px;
  height: 92vh;
  min-height: 500px;
  margin-top: 20px;
  margin-left: 20px;
  width: 250px;
  display: flex; 
  flex-direction: column;
  padding: 10px 0;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
}

.sidebar__top {
  display: flex;
  width: 100%;
  justify-content: center;
}
.sidebar__top__logo{
  display:flex;
  justify-content: center;
  align-items: center;
}
.sidebar__top__mobile {
  /* display: none; */
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 30px 0 30px;
  justify-content: space-between;
}

.sidebar__body {
  width: 100%;
}
.sidebar__body__links {
  margin-top: 25px;
  padding-bottom: 15px;
  color: var(--font-light);
  border-bottom: 1px solid rgba(158, 158, 158, 0.274);
  display: flex;
  flex-direction: column;
  
}

.sidebar__body__links__home,
.sidebar__body__links__trending,
.sidebar__body__links__subscription,
.sidebar__body__links__feed {
  display: flex;
  padding: 10px 5px 10px 13px;
  width: 200px;
  margin-top: 5px;
  margin-left:20px;
  
}

.link_hover:hover {
  background-color: var(--hover-color);
  cursor: pointer;
  border-radius: 5px;
}

.sidebar__body__links__text {
  margin-left: 23px;
}

.sidebar__body__fav {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(158, 158, 158, 0.274);
  padding-bottom: 15px;
}
.sidebar__body__fav > h4 {
  font-weight: 700;
  font-size: 1.23em;
  margin-bottom: 20px;
  margin-top: 10px;
}

.sidebar__body__fav__inner {
  overflow-y: scroll;
  max-height: 18vh;
  color: var(--font-light);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar__body__fav__inner::-webkit-scrollbar {
  width: 5px;
  
}
.sidebar__body__fav__inner::-webkit-scrollbar-thumb {
  background: rgba(148, 148, 148, 0.267);
  border-radius: 50px;
}
 .sidebar__body__fav__inner::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 182, 182);
}
/* Hide scrollbar for IE, Edge and Firefox */
.sidebar__body__fav__inner {
  -ms-overflow-style: block; /* IE and Edge */
  scrollbar-width: thin; /* firefox */
  scrollbar-color:rgba(148, 148, 148, 0.267) #e7e9eb00;
  
}

.sidebar__body__fav__inner__img__text {
  padding: 7px 22px;
  display: flex;
  align-items: center;
}
.sidebar__body__fav__inner__img__text > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.sidebar__body__aboutus {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__body__aboutus > h4 {
  padding: 10px 75px;
  margin: 15px 10px;
}
.sidebar__body__copyright {
  width: 60%;
  margin-left: 20%;
  margin-top: 120px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  color: var(--font-light);
}
.copyright {
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
    width: 100%;
    margin:0;
    position: absolute;
    height: 100vh;
  }
  .sidebar__top__logo {
    display: none;
  }
  .sidebar__body__links {
    margin-top: 20px;
    align-items: center;
  }

  .sidebar__body__links__home,
  .sidebar__body__links__trending,
  .sidebar__body__links__subscription,
  .sidebar__body__links__feed {
    padding: 10px 5px 10px 40px;
    width: 225px;
    margin-top: 5px;
    
  }
}

@media (min-width: 768px) {
  .sidebar__top__mobile {
    display: none;
  }
}
