@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,600;1,700&family=Sansita:ital,wght@0,400;0,700;1,900&display=swap");
.outer__container {
  background: url("./desktop_login.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  font-family: "Nunito Sans";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 70%;
  margin: auto;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 11vh;
  height: 100vh;
}

.container__black {
  /* background-color: rgb(22, 21, 21); */
  background-color: #18151a;
  -webkit-backdrop-filter: blur(28px);
          backdrop-filter: blur(28px);
  border-radius: 0 10px 10px 0px;
  height: 100%;
  width: 60%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 400px;
  overflow-y: scroll;
}

.container__blur {
  background-color: rgba(162, 145, 167, 0.253);
  -webkit-backdrop-filter: blur(28px);
          backdrop-filter: blur(28px);
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 60%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  min-width: 400px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container__blur::-webkit-scrollbar,
.container__black::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container__blur,
.conatiner__black {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* firefox */
}

/* only for firefox */
@supports (-moz-appearance: none) {
  .container__blur {
    background-color: rgba(139, 111, 161, 0.589);
  }
}

.container__black__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.7em;
}

.container__black__signin {
  font-size: 1.3em;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  margin-bottom: 70px;
  width: 80%;
  text-align: center;
}

.conatiner__black__button {
  margin-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conatiner__black__button > button {
  color: rgba(255, 255, 255, 0.842);
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(230, 230, 230, 0.712);
  width: 70%;
  border-radius: 30px;
  font-size: 1em;
  padding: 20px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0 30px;
}

.conatiner__black__button > button:hover {
  background-color: #ffffff;
  /* color: rgba(0, 0, 0, 0.616); */
  color: black;
}

.container__black__bottomtext {
  position: absolute;
  bottom: 15px;
  color: rgba(255, 255, 255, 0.438);
}

.conatiner__blur__welcome {
  color: var(--font-normal);
  font-size: 3em;
  font-weight: bold;
  margin: 50px 50px 0 50px;
}

.container__blur__privacyText {
  background-color: rgba(21, 19, 21, 0.3);
  padding: 10px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.616);
  line-height: 1.5;
  cursor: default;
  -webkit-animation: slide2 0.5s ease;
          animation: slide2 0.5s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 30px 50px 50px 50px;
  width: 70%;
  font-size: 1.1em;
}

.conatiner__blur__para1 {
  color: rgba(255, 255, 255, 0.644);
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-size: 1.5em;
  margin: 50px;
  width: 70%;
}
/*# sourceMappingURL=DesktopLogin.css.map */