@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,600;1,700&family=Sansita:ital,wght@0,400;0,700;1,900&display=swap");
.container__outer {
  font-family: "Nunito Sans";
  display: grid;
  place-items: center;
  height: 90%;
  width: 100%;
}

.container__inner {
  background-color: rgba(102, 102, 102, 0.301);
  height: 95%;
  width: 85%;
  border-radius: 10px;
  backdrop-filter: blur(36px);
  display: flex;
  color: white;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.container__inner__logo {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conatiner__inner__welcome {
  margin-top: 50px;
  margin-bottom: 30px;
}

.conatiner__inner__para1 {
  color: rgba(255, 255, 255, 0.644);
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.conatiner__inner__button {
  margin-bottom: 10px;
}
.conatiner__inner__button > button {
  color: rgba(255, 255, 255, 0.842);
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(230, 230, 230, 0.712);
  border-radius: 20px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.conatiner__inner__button > button:hover {
  background-color: #9c56bd;
  /* color: rgba(0, 0, 0, 0.616); */
  color: white;
}

.container__inner__privacyText {
  background-color: rgba(21, 19, 21, 0.3);
  padding: 10px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.616);
  line-height: 1.5;
  cursor: default;
  animation: slide2 0.5s ease;
  user-select: none;
}

.hide {
  opacity: 0;
  overflow: hidden;

  animation: slide 0.5s ease;
  /* animation-iteration-count: 1; */
}
@keyframes slide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slide2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container__inner__bottomtext {
  position: absolute;
  bottom: 15px;
  color: rgba(255, 255, 255, 0.438);
}
